@import "../../../scss/variables";

.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  h1 {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0px;
    display: block;
  }

  .settingBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border;
    padding: 16px 0;
  }
  .block {
    margin-right: 150px;
    @media (max-width: 450px) {
      margin-right: 50px;
    }
    h3 {
      font-size: 18px;
      font-weight: 400;
    }
    p {
      font-size: 12px;
      color: #787c7e;
    }
  }
  .switch {
    margin-top: 5px;
  }
}
.closeBtn {
  position: absolute;
  top: 20px;
  cursor: pointer;
  right: 15px;
  svg {
    font-size: 1.5em;
  }
}

.darkTheme {
  color: #fff;
}
