$main-dark: #000000;
// Bright Mode
$color-correct: #6aaa64;
$color-present: #c9b458;
$color-absent: #787c7e;
$border: #d3d6da;
$border-filled: #878a8c;
$key-bg: #d3d6da;
$modal-bg: #ffffff;

$header-height: 65px;
$keyboard-height: 200px;

// Dark Mode
$color-correct-dark: #538d4e;
$color-present-dark: #b59f3b;
$color-absent-dark: #3a3a3c;
$modal-bg-dark: #121213;
$key-color-text: #ffffff;
$border: #d3d6da;
$border-filled: #878a8c;
$key-bg-dark: #818384;
