@import "./libs/normalize.scss";
@import "./variables.scss";
@import "./components/toast";
@import "./components/modal";

.main {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.game {
  width: 100vw;
  height: calc(100% - $header-height);
  display: flex;
  align-items: center;
  padding-top: 10px;
  flex-direction: column;
}

#big {
  width: 70px;
}

// Key Colors

#correct {
  background-color: $color-correct;
  color: #fff;
  border: none;
}
#present {
  background-color: $color-present;
  color: #fff;
  border: none;
}
#absent {
  background-color: $color-absent;
  color: #fff;
  border: none;
}
#correct-dark {
  background-color: $color-correct-dark;
  color: #fff;
  border: none;
}
#present-dark {
  background-color: $color-present-dark;
  color: #fff;
  border: none;
}
#absent-dark {
  background-color: $color-absent-dark !important;
  color: #fff;
  border: none;
}
#correctGuess {
  color: $color-correct;
}
#correctGuess-dark {
  color: $color-correct-dark;
}

// Color Themes

#light-bg {
  background-color: $modal-bg;
}
#dark-bg {
  background-color: $modal-bg-dark;
}

// Confetti

.confetti {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
